@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

// Create your own map
$custom-colors: (
	'f-primary': #900,
	'f-secondary': green,
);

body {
	height: auto;
	align-items: center;
	background-image: linear-gradient(to right, #f1faff, #8eedff) !important;
}

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	overflow: hidden;
	background-size: cover;
}

.foodie-title {
	font-family: 'Carter One', cursive;
}

.dark-Bg {
	background-image: linear-gradient(to right, #131217, #131217) !important;
	content: '';
	position: absolute;
	z-index: -2;
	left: 0;
	top: 0;
	width: 100%;
	height: 5076px;
	background-size: 100%;
	animation: 180s infiniteScroll linear infinite;
	background-repeat-x: repeat;
	-webkit-animation: 180s infiniteScroll linear infinite;
	-webkit-animation: 180s infiniteScroll linear infinite;
}

.background-shapes {
	content: '';
	position: absolute;
	z-index: -2;
	left: 0;
	top: 0;
	width: 100%;
	height: 5076px;
	background-size: 100%;
	animation: 180s infiniteScroll linear infinite;
	background-repeat-x: repeat;
	background-image: url(https://cdn2.hubspot.net/hubfs/53/Pricing%202017%20Assets/marketing/Header_Circles-1.svg);
	-webkit-animation: 180s infiniteScroll linear infinite;
	-webkit-animation: 180s infiniteScroll linear infinite;
}

.content-container {
	height: calc(100vh - 66px);
	overflow-y: auto;
}

@-webkit-keyframes infiniteScroll {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	100% {
		-webkit-transform: translate3d(0, -1692px, 0);
		transform: translate3d(0, -1692px, 0);
	}
}

@keyframes infiniteScroll {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	100% {
		-webkit-transform: translate3d(0, -1692px, 0);
		transform: translate3d(0, -1692px, 0);
	}
}

.card:hover {
	transform: scale(1.01);
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-ms-transform: scale(1.01);
	-o-transform: scale(1.01);
	transition: all 0.3s linear !important;
	-webkit-transition: all 0.3s linear !important;
	-moz-transition: all 0.3s linear !important;
	-ms-transition: all 0.3s linear !important;
	-o-transition: all 0.3s linear !important;
}

.cardBg {
	background-color: rgba(255, 255, 255, 0.053) !important;
}

.cartProducts {
	max-height: calc(100vh - 242px);
	overflow: auto;
}

.cartSummary {
	height: 86vh;
}
@media screen and (max-width: 400px) {
	.cartSummary {
		height: fit-content;
	}
}

/* width */
::-webkit-scrollbar {
	width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.container,
.container-fluid {
	min-height: calc(100vh - 66px);
}

.Toastify__toast-container--top-right {
	top: 1.5em;
	right: 1.5em;
}

a {
	text-decoration: none;
}

.home-img {
	filter: drop-shadow(0px 0px 10px rgb(136, 135, 135));
	-webkit-filter: drop-shadow(0px 0px 10px rgb(136, 135, 135));
}

// .categories {
// 	overflow-y: scroll;
// }

// /* Hide scrollbar for Chrome, Safari and Opera */
// .categories::-webkit-scrollbar {
// 	display: none;
// }

// /* Hide scrollbar for IE, Edge and Firefox */
// .categories {
// 	-ms-overflow-style: none;
// 	scrollbar-width: none;
// }

.categories {
	position: relative;
	width: 100%;
	height: 30px;
	overflow: hidden;

	.scroll-container {
		position: absolute;
		//   width: 100%;
		height: 100%;
		overflow: auto;
		flex-wrap: nowrap;
		display: flex;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		padding-right: 16px; /* Ajusta el valor según sea necesario para compensar el ancho de la barra de desplazamiento */
	}

	.scroll-container::-webkit-scrollbar {
		display: flex;
		height: 1px; /* Chrome, Safari and Opera */
	}
}

@font-face {
	font-family: NotoColorEmojiLimited;
	unicode-range: U+1F1E6-1F1FF;
	src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

.flags {
	font-family: 'NotoColorEmojiLimited', -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
}

.dropdown-menu {
	--bs-dropdown-min-width: 0 !important;
}

/* ////////////////////    DARK MODE SWITCH   //////////////////////////////// */
.switch-container {
	position: relative;
	border-radius: 17px;
	height: 34px;
	width: 64px;
	transition: background-color 0.3s;
}

.switch-dark {
	background-color: #ede5e5;
}
.switch-light {
	background-color: #0b5ed7;
}

.slider {
	height: 28px;
	width: 28px;
	border-radius: 50%;
	position: absolute;
	top: 3px;
	right: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7rem;
	cursor: pointer;
	transition: all 0.3s;
}

.slider-dark {
	right: 3px;
	background-color: #0b5ed7;
}
.slider-light {
	left: 3px;
	background-color: white;
}
.switch-container.slide-transition .slider {
	transition: all 0.3s;
}

/* ////////////////////    PRODUCT CARD   //////////////////////////////// */

.test {
	background-color: #121116;
	height: 300px;
	color: white;
	display: flex;
	flex: 1;
}

.card-container {
	color: white;
	width: 190px;
	position: relative;
	padding-top: 50px;
}

.card-controls {
	position: absolute;
	bottom: -5px;
	right: 17%;
}
.card-icon {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background-color: #282832;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	position: absolute;
	top: 0px;
	cursor: pointer;
}

.card-icon1 {
	left: 0px;
}

.card-icon2 {
	right: 0px;
}

.card-img-container {
	width: 145px;
	height: 145px;
	position: absolute;
	top: 0px;
	left: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-50%);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
}

.card-img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.card-section {
	background-color: #282832;
	font-size: 10px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	padding-top: 100px !important;
}
.card-title {
	font-size: 1rem;
	font-weight: 500;
	max-width: 158px;
	height: 23px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.card-title-promo {
	font-size: 1rem;
	font-weight: 500;
	max-width: 115px;
	height: 23px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.card-text-desc {
	margin-top: 0.3rem;
	color: #91909a;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	height: 4.3em;
	overflow: hidden;
	text-overflow: ellipsis;
}
.card-preis {
	font-size: 1.25rem;
	max-width: 75px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.2;
	font-weight: 500;
	max-width: 158px;
}

.card-weigth {
	background-color: #16151b;
	padding: 3px 12px;
	font-size: 8px;
	height: 16px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.card-add-icon {
	cursor: pointer;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background-color: #15e666;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 9px;
	font-weight: bold;
}

.card-add {
	cursor: pointer;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background-color: #15e666;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 9px;
	font-weight: bold;
}

.card-added {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background-color: #fe4a67;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 9px;
	font-weight: bold;
}

.business-products {
	max-height: 766px;
	overflow-y: auto;
	overflow-x: hidden;
	border-right: 1px solid rgb(168, 166, 166);
}

/* ////////////////////    PROMOTIONS CARD   //////////////////////////////// */

.promotions {
	min-width: 365px;
	max-height: calc(100vh - 74px);
	overflow-y: auto;
	overflow-x: hidden;
}

.promotion-card {
	background-color: #282832;
	font-size: 10px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	position: relative;
	width: 260px;
}

.promotion-card-img-container {
	width: 100px;
	height: 100px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
}

.promotion-card-img {
	max-width: 100px;
	max-height: 100px;
	object-fit: contain;
}

.card-hl-icon {
	position: absolute;
	top: 10px;
	right: 0px;
	font-size: 16px;
}

.promotion-card-section {
	background-color: #282832;
	font-size: 10px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	color: white;
}

.promotion-card-text-desc {
	margin-top: 0.3rem;
	color: #91909a;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	height: 3.7em;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* ////////////////////    BUSINESS   //////////////////////////////// */

.business-saved-icon {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background-color: #282832;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
}

/* ////////////////////   PRODUCT DETAILS   //////////////////////////////// */
.detail-image-container {
	width: 100vw;
	height: 100vw;
}

.detail-img-container {
	width: 80%;
	max-height: 80%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	// transform: translateX(-50%);
	// border-radius: 50%;
	// -webkit-border-radius: 50%;
	// -moz-border-radius: 50%;
	// -ms-border-radius: 50%;
	// -o-border-radius: 50%;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
}

.detail-img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.detail-close {
	color: white;
	font-size: 2.5rem;
	position: absolute;
	right: 20px;
	top: 0px;
	z-index: 2;
}

.detail-bg-img-container {
	width: 100%;
	height: 100%;
	z-index: -1;
}

.detail-bg-img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.p-expansible {
	margin-top: 0.3rem;
	color: #91909a;
}

.read-more {
	color: red;
}

.detail-bg-img-container-d {
	width: 100%;
	height: 0;
	padding-bottom: 100%; /* Para que el contenedor tenga una relación de aspecto cuadrada */
	// position: relative;
	z-index: -1;
	overflow: hidden;
}
.detail-bg-img-d {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 100%;
}

/* ////////////////////   COOKIES   //////////////////////////////// */
.cookie-icon {
	position: fixed;
	bottom: 12px;
	left: 12px;
	padding: 10px;
	background-color: gray;
	border-radius: 50%;
	cursor: pointer;
	z-index: 2;
}

.cookie-modal {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: calc(100vw - 20px);
	background-color: white;
	border: solid 1px black;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.cookie-modal-close {
	color: black;
	font-size: 2.5rem;
	position: absolute;
	right: 20px;
	top: 0px;
	z-index: 1;
	cursor: pointer;
}

/* ////////////////////   SIDEBAR   //////////////////////////////// */
.sidebar-container {
	min-width: 260px;
	max-width: 260px;
	min-height: calc(100vh - 66px);
	background-color: black;
	transition: all 0.3 ease;
	-webkit-transition: all 0.3 ease;
	-moz-transition: all 0.3 ease;
	-ms-transition: all 0.3 ease;
	-o-transition: all 0.3 ease;
}

.sidebar-collapsed {
	min-width: 16px;
	max-width: 16px;
	height: 80vh;
	background-color: black;
	border-bottom-right-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
	border:rgb(96, 95, 95) 1px solid;
	transition: all 0.3 ease;
}
// .sidebar-collapsed div{
// display:none
// }

.sidebar-container {
	min-width: 260px;
	max-width: 260px;
	min-height: calc(100vh - 66px);
	background-color: black;
}

.sidebar-mobile {
	min-width: 260px;
	max-width: 260px;
	min-height: calc(100vh - 66px);
	background-color: black;
	position:fixed;
	border:rgb(86, 85, 85) 1px solid;
	z-index: 2;
}

.sidebar-active {
	border-bottom: 2px solid #0b5ed7;
	background-color: black;
}

.sidebar-page-active {
	background-color: #0b5ed7;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.sidebar-close{
	color: white;
	font-size: 25px;
    position: fixed;
    top: 5em;
    left: 9em;
}

.sidebar-side{
	width: 17px;
}

/* ////////////////////    DASHBOARD   //////////////////////////////// */

.dashboard-cart{
	border: 1px solid #282832;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	max-height: 370px;
	overflow-y: auto;
}
.dashboard-cart-card-img-container {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-50%);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
}

.dashboard-cart-card-container {
	color: white;
    width: 150px;
    position: relative;
    padding-top: 50px;
}
.dashboard-cart-card-section {
    background-color: #282832;
    font-size: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding-top: 50px !important;
}
.dashboard-cart-card-title {
	font-size: 1rem;
	font-weight: 500;
	max-width: 130px;
	height: 23px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.dashboard-order-card-container {
    background-color: #282832;
    font-size: 0.75rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

@media (max-width: 600px) {
	.card-container {
		width: 136px;
		padding-top: 35px;
	}

	.card-icon {
		height: 25px;
		width: 25px;
		font-size: 12px;
	}

	.card-img-container {
		width: 80px;
		height: 80px;
	}

	.card-img {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}

	.card-section {
		padding-top: 45px !important;
	}
	.card-title {
		font-size: 0.78rem;
		max-width: 108px;
	}

	.card-preis {
		font-size: 1rem;
		max-width: 100px;
	}

	.card-weigth {
		padding: 3px 6px;
		font-size: 5px;
	}

	.card-add {
		cursor: pointer;
		height: 20px;
		width: 20px;
		font-size: 7px;
	}
}
